<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration
PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.current_session_context_class">thread</property>
		
		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">jdbc:hsqldb:file:data/db/chronotha;shutdown=true;hsqldb.write_delay=false</property>
		<!--  SET WRITE_DELAY 0 -->
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>

		<!-- List of XML mapping files -->
		<mapping resource="Module.hbm.xml"/>
		<mapping resource="Formateur.hbm.xml"/>
		<mapping resource="Seance.hbm.xml"/>

	</session-factory>
</hibernate-configuration>